@font-face {
  font-family: hind;
  src: url('fonts/HindSiliguri-Regular.ttf');
}
body{
  padding: 0;
  margin: 0;
  font-family: 'Hind Siliguri';
}
.fixed-background{
  background: url('images/background.png'),linear-gradient(15deg, rgba(255,150,145,1) 0%, rgba(184,212,213,1) 73%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 2500px;
}
.bg-light{
  background-color: transparent!important;
}
.navbar-brand{
  padding-left: 7%;
  padding-top: 2%;
}
.nav-logo{
  width: 200px;
}
.navbar-nav{
  margin-right: 4%;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.7rem;
  padding-left: .7rem;
  font-size: 1.3em;
  font-weight: 600;
}
.slider-home{
  height: 100vh;
  padding-left: 4%;
  padding-right: 75%;
}
.slide{
  height: 60vh;
  text-align: center;
}
.text-slider{
  padding-top: 25%;
  line-height: 1.4;
}
.get-button{
  margin-top: 35%;
}
.get-btn{
  padding: 2% 9%;
  font-size: 25px;
  margin-bottom: 23px;
  border-radius: 15px;
  background: rgba(0, 224, 234, 0.5);
  color: black;
}
.get-btn:hover{
  color: black;
}
.arrow_next{
  position: absolute;
  bottom: 15%;
  left: 250px;
}
.arrow_prev{
  position: absolute;
  bottom: 15%;
  left: 150px;
}
.main-aboutus{
  height: 100vh;
}
.text-aboutus{
  font-size: 1.7rem;
  text-align: center;
  padding-left: 4%;
}
.services{
  height: 100vh;
  padding-top: 10%;
}
.main-services{
  height: 120px;
  margin-bottom: 3%;
}
.service-one{
  height: 100%;
  background-image: url('images/design.png');
  background-repeat: no-repeat;
  background-position: center;
}
.service-two{
  height: 100%;
  background-image: url('images/development.png');
  background-repeat: no-repeat;
  background-position: center;
}
.service-three{
  height: 100%;
  background-image: url('images/cms.png');
  background-repeat: no-repeat;
  background-position: center;
}
.text-services{
  text-align: center;
}
/*------------------------ Small Laptop and Tablets Breakpoint -----------------------------*/


@media only screen and (max-width : 1024px){
  .navbar-brand{
    padding-left: 7;
  }
  .nav-logo{
    width: 175px;
  }
  .slider-home{
    padding-right: 65%;
  }
  .text-slider{
    line-height: 1.2;
    font-size: 2rem;
  }
  .arrow_prev{
    left: 13%;
  }
  .arrow_next{
    left: 23%;
  }
  .services{
    padding-top: 16%;
  }
  .main-services{
    padding-left: 4%;
  }
}

/*------------------------------- Mobile Breakpoint -------------------------------------*/
